$prefixes: -webkit-, -moz-, -ms-, -o-, null;

@mixin bg_size($w, $h: auto){
  background-color: #00f; opacity: 0.5;

  @each $item in $prefixes {
    #{$item}background-size: $w $h;
  }
}

body{
  background: url(./cube.jpg) no-repeat;

  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
                    (min-resolution: 2dppx)
  {
    @include bg_size(690px / 2, auto);
  }

}
