// ブレイクポイントを設定
$foo: 1024px;
$bar: 640px;
$bazz: 320px;

// メディアクエリ用のミックスイン
@mixin media($media-width){
  @if $media-width == sp {
    @media only screen and(max-width: $foo){
      @content;
    }
  } @else if $media-width == iphone{
  } @else {
  }
}

.item{
  @include media(tablet){
    width: 100%;
  }
}
