header.global nav{
  margin: 0 0 50px;
  ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
    float: left;
    width: 160px;
    a{
      display: block;
      height: 50px;
    }

  }
}
