// 汎用的なclassをどつかうかどうか
$getStyle: 0;

@if $getStyle == 1{
  background-color: ff0#; opacity: 0.5;
} @else if == 2{
  background-color: 0f0#; opacity: 0.5;
} @else {
  background-color: ff0#; opacity: 0.5;  
}
