$wrapWidth: 960px;
$mainWidth: 640px;
$sideWidth: $wrapWidth - $mainWidth - 20;

.wrapper{
  width: 100px; height: 100px;
  background-color: #00f; opacity: 0.5;
  width: $wrapWidth;

  .main{
    background-color: #f0f; opacity: 0.5;
    width: 100px; height: 100px;
    width: $mainWidth;
    float: left;
  }
  .side{
    background-color: #00f; opacity: 0.5;
    width: 100px; height: 100px;
    width: $sideWidth;
  }
}
