$prefixes: -webkit-, -moz-, -ms-, -o-, null;

a{
  @each $prefix in $prefixes {
    #{$prefix}: all 0.3s ease-in-out;
  }
}

#main{
  padding: 20px;
  background-color: #efefef;
  @each $prefix in $prefixes {
    #{$prefix}border-radius: 5px;
    #{$prefix}box-shadow: 1px 1px 5px rgba(black, 0.3);

  }
}
