$width: 100%;

.foo{
  width: $width / 3;
}
.bar{
  width: ceil($width /3);
}

body{
  background-color: #cccccc;
}

$c: #888;

.foo{
  background-color: mix(#000, #fff, 50%);
}
.bar{
  background-color: adjust-hue($c, 20%);
}
