ul.fluitList{
  list-style: none;
  li{
    margin: 0 0 10px;
    a{
      display: inline-block;
      padding: 10px 25px;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      &.orange{
        background-color: orange;
      }
      &.apple{
        background-color: apple;
      }
    }
  }
}
