$prefixes: -webkit-, -moz-, -ms-, -o-, null;

body::after{
  content: 'foo';
  background-color: #00f; opacity: 0.5;
  width: 100px;
  height: 50px;
  position: absolute;
  top: px;
  right: 10%;
  z-index: 0;
  background-image: url(../img/neko.png) no-repeat;

}
