$width: 100%;

.foo{
  width: $width / 3;
}
.bar{
  width: ceil($width /3);
}

body{
  background-color: #cccccc;
}

$c: #888;

.foo{
  background-color: lighten($c, 20%);
}
.bar{
  background-color: darken($c, 20%);
}
