ul.fluitList{
  list-style: none;
  li{
    margin: 0 0 10px;
  }
}
.cateLabel{
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  & li{
    list-style: none;
  }
  &.orange{
    background-color: orange;
  }
  &.apple{
    background-color: red;
  }
  &.banana{
    background-color: yellow;
    color: #333;
  }
  &.melon{
    background-color: green;
  }
}
