$prefixes: -webkit-, -moz-, -ms-, -o-, null;

@mixin keyframes($animeName){
  @-webkit-keyframes $animeName{
    @content;
  }
  @-moz-keyframes($animeName){
    @content;
  }
  @-o-keyframes($animeName){
    @content;
  }
  @-ms-keyframes($animeName){
    @content;
  }
  @keyframes($animeName){
    @content;
  }
}



body::after{
  content: 'foo';
  background-color: #00f; opacity: 0.5;
  width: 100px;
  height: 50px;
  position: absolute;
  top: px;
  right: 10%;
  z-index: 0;
  background-image: url(../img/neko.png) no-repeat;
  @each $prefix in $prefixes {
    #{$prefix}animation-duration: 3.5s;
    #{$prefix}animation-timing-function: ease-in-out;
    #{$prefix}animation-iteration-count: 1;
    #{$prefix}animation-name: anim;
  }
}

@include keyframes(anim){
  0%{
    opacity: 0;
    top: 350px;
    right: 78%;
  }
  50%{
    opacity: 1;
    top: 25px;
    right: 10%;
  }
  100%{
    top: 25px;
    right: 10%;
  }
}
