/**
 * @Author: haru
 * @Date:   2017-05-27T07:24:18+09:00
 * @Last modified by:   haru
 * @Last modified time: 2017-05-27T07:30:58+09:00
 */

.prev, .next{
  font-size: 12px;
  color: #fff;
  background-color: #f93;
  padding: 8px;
  text-decoration: none;
}

.prev{
  float: left;
}

.next{
  float: right;
}

#steps{
  list-style: none;
  overflow: hidden;
  padding: 0px;
  text-decoration: none;
}

#steps li{
  font-size: 20px;
  float: left;
  padding: 15px;
  color: #cc9;
}

#steps li span{
  font-size: 10px;
  display: block;
}

#steps li.current{
  background-color: #f0f; opacity: 0.5;
}
