$mainWidth: 65vw;

wrapper{
  width: 100vw;
  background-color: #0ff; opacity: 0.5;
  height: 100px;
  float: left;
}

main{
  background-color: #f0f; opacity: 0.5;
  height: 100px;
  float: left;
  width: $mainWidth;
}

.side{
  background-color: #00f; opacity: 0.5;
  height: 100px;
  float: right;
  width: 100vw - $mainWidth;
  margin: 5px;
}
