/*グローバルナビゲーション*/
header.global nav{
  margin: 0 0 50px;

  // スライドさせる距離
  $pos-x: -160px;
  ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      float: left;

      // 「スライドさせる距離」= 「width」
      width: abs($pos-x);
      a{
        &[href^="/about/"]{
          background-position: $pos-x*1 0;
          &:hover{
            background-position: $pos-x*1 -50px;
          }
        }
        &a[href^="/source/"]{
          background-position: $pos-x*2 0;
          &:hover{ background-position: $pos-x*2 -50px;
          }
        }
        &a[href^="/dl/"]{
          background-position: $pos-x*3 0;
          &:hover{ background-position: $pos-x*3 -50px;
          }
        }
        &a[href^="/profile/"]{
          background-position: $pos-x*4 0;
          &:hover{ background-position: $pos-x*4 -50px;
          }
        }
        &a[href^="/contact/"]{
          background-position: $pos-x*5 0;
          &:hover{ background-position: $pos-x*5 -50px;
          }
        }
        display: block;
        height: 50px;
        width: 1000px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background: url(./img/nav.jpg) no-repeat left top;
        &:hover{
          background-position: 0 -50px;
        }
      }
    }
  }
}
