$wrapWidth: 960px;
$mainWidth: 640px;
$sideWidth: $wrapWidth - $mainWidth;

wrapper{
  width: $wrapWidth;
  background-color: #0ff; opacity: 0.5;
  height: 100px;
  float: left;
}

main{
  background-color: #f0f; opacity: 0.5;
  height: 100px;
  float: left;
  width: $mainWidth;
}

.side{
  background-color: #00f; opacity: 0.5;
  height: 100px;
  float: right;
  width: $sideWidth -20px;
}
