@mixin liner-gradient($color: #f00, $way: top, $percent: 20%){
  background-color: $color;
  background-image: -webkit-linear-gradient($way, $color 0%, lighten($color, $percent) 100%);
  background-image: -moz-linear-gradient($way, $color 0%, lighten($color, $percent) 100%);
  background-image: -ms-linear-gradient($way, $color 0%, lighten($color, $percent) 100%);
  background-image: -o-linear-gradient($way, $color 0%, lighten($color, $percent) 100%);
  background-image: linear-gradient($way, $color 0%, lighten($color, $percent) 100%);
}

.wrapper{
  height: 200px;
  @include liner-gradient();
}
