/*グローバルナビゲーション*/
header.global nav{
  margin: 0 0 50px;
  ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      float: left;
      width: 160px;
      a{
        display: block;
        height: 50px;
        width: 100%;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url(./img/nav.jpg) no-repeat left-top;
        &:hover{
          background-position: 0 -50px;
        }
      }
    }
  }
}

.item{
  background-image: url(./nav.jpg) no-repeat;
  width: 100px; height: 100%;
}
