$mainWidth: 65%;

wrapper{
  width: 100%;
  background-color: #0ff; opacity: 0.5;
  height: 100px;
  float: left;
}

main{
  background-color: #f0f; opacity: 0.5;
  height: 100px;
  float: left;
  width: $maiWidth;
}

.side{
  background-color: #00f; opacity: 0.5;
  height: 100px;
  float: right;
  width: 100% - $mainWidth;
  padding-left: 5px;
}
