$wrapWidth: 100%;
$mainWidth: 640px;
$sideWidth: $wrapWidth - $mainWidth - 20;

wrapper{
  background-color: #0ff; opacity: 0.5;
  width: 100px; height: 100px;
  float: left;
  width: $wrapWidth;
}

main{
  background-color: #f0f; opacity: 0.5;
  width: 100px; height: 100px;
  float: left;
  width: $mainWidth;
}

.side{
  background-color: #00f; opacity: 0.5;
  width: 100px; height: 100px;
  float: right;
  width: $sideWidth;
}
