$normal: #f00;
$hover: #00f;

@mixin link-color($n: $normal, $h: $hover){
  color: $normal;
  &:hover{
    color: $n;
    text-decoration: none;
  }
}

a{
  @include link-color();
}

@mixin link-color2($n){
  color: lighten($n, 30%);  
}
