$icon-layout: vertical;
$icon-spacing: 20px;
$icon-repeat: no-repeat;
$icon-sprite-demensions: true;

@import "compass";
@import "../images/map/icon/*.png";



.item{
  @include icon-sprite(book, true, 0px, 0px);
}
