$icon-layout: vertical;
$icon-spacing: 20px;
$icon-position: 1000px;
@import "compass";
@import "../images/map/hover/*.png";
@import "../images/map/icon/*.png";


@include all-icon-sprites;

.item{
  width: 500px; height: 500px;
}
