@import "compass";

.item {
  $experimental-support-for-svg: true;
  @include   background-image(radial-gradient(left top, #008cff 10%, #00bb4b 20%, #f0f));
  width: 100px; height: 100px;
  @include ellipsis;
  @include opacity(79%);
}


.bar{
  @include link-colors(#111, #222, #333, #444, #444444444, #f35);
}
