@import "compass";

$icon-layout: horizontal;
$icon-sprite-demensions: true;
$spriteMap: sprite-map("../images/map/icon/*.png");

@mixin spriteBg($sprite){
  background: sprite-url($spriteMap) sprite-position($spriteMap, top) #{"/"} image-width(sprite-file($spriteMap, $sprite)  ) image-height(sprite-file($spriteMap, $sprite)  ) no-repeat;
}

@mixin spriteHalf($sprite){
  background: sprite-url($spriteMap) (nth(sprite-position($spriteMap, $sprite), 1) / 2) (nth(sprite-position($spriteMap, $sprite), 2) / 2) (image-height(sprite-file($spriteMap, $sprite)  )  / 2) no-repeat;
}

.item{
  @include spriteHalf(top);
}
