@import "compass";
@import "compass/layout";
@import "compass/reset";

$base-font-size: 16px;
$base-line-height: 24px;

.fruitList {
  @include establish-baseline;
  @include adjust-font-size-to(10px, 20px, 30px);
}
