$icon-layout: horizontal;
$icon-spacing: 20px;
$icon-repeat: no-repeat;
$icon-sprite-dimensions: true;

@import "compass";
@import "../images/map/hover/*.png";
@import "../images/map/icon/*.png";


@include all-icon-sprites;

.item{
  width: 500px; height: 500px;
}
