@import "recipes";

// ルールのネスト
.item{
  p{
    margin: 0;
    a{
      display: block;
    }
  }
}

// 親セレクタの参照 &
.item{
  margin: 0 0 30px;
  .fruitList &{
    margin: 0;
  }
}

ul{
  margin:{
    top: 5px;
    bottom: 15px;
  }
  border: 1px solid #999{
    top-color: #a99;
    bottom: 0;
  }
