@import "compass";
$spriteMap: sprite-map("../images/map/icon/*.png", $spacing: 20px, $layout: horizontal);

.item{
  width: image-width(sprite-file($spriteMap, top)  );
  height: image-height(sprite-file($spriteMap, top)  );
}

@mixin spriteBg($sprite){
  background: sprite-url($spriteMap) sprite-position($spriteMap, top) #{"/"} image-width(sprite-file($spriteMap, author)  ) image-height(sprite-file($spriteMap, author) ) norepeat;
}

.item{
  @include spriteBg(top);

}

@mixin spriteHalf(book){
  background: sprite-url($spriteMap) (nth(sprite-position($spriteMap, book), 1) / 2) (nth(sprite-position($spriteMap, book), 2) / 2) #{"/"} (image-width(splite-file($spriteMap, book) / 2) (image-height(sprite-file($spriteMap, book) / 2) no-repeat;
}
